.devise-main
  .devise-items
    = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
      = render "devise/shared/error_messages", resource: resource
      .form-floating.mb-3
        = f.text_field :username, autofocus: true, autocomplete: "username", class: "form-control", id: "floatingInput", placeholder: "Username"
        %label(for="floatingInput") Username
      .form-floating.mb-3
        = f.email_field :email, autocomplete: "email", class: "form-control", id: "floatingInput", placeholder: "Email"
        %label(for="floatingInput") Email
      .form-floating.mb-3
        = f.password_field :password, autocomplete: "current-password", class: "form-control", id: "floatingPassword", placeholder: "Password"
        %label(for="floatingInput") Password
      .form-floating.mb-3
        = f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control", id: "floatingPassword", placeholder: "Confirm Password"
        %label(for="floatingInput") Confirm Password
      .mb-2
        = f.submit "Sign up", class: "btn btn-success btn-wide"
    = render "devise/shared/links"
